<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>spring boot练习项目</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/jq/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/practise.css">
</head>
<body>
<div th:replace="navigation::nav"></div>

</body>
</html>